*{
  margin: 0;
}

body {
    background-color: black;
    color: rgb(211, 141, 252);
    text-align: center;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 3rem; 
}
.imagen-banner{
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.85) 100%), url("../img/wow_banner1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-cards {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
}

#preguntas-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 2rem;
}

.card{
    min-width: 200px;
    min-height: 200px;
    background-color: #222;
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2.5rem;
     margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card h2{
    min-height: 20%;
}

.opciones-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.opcion-btn{
    background-color: #602ab6;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "Metamorphous", serif;
    font-size: 14px;
    min-height: 6rem;
    min-width: auto;
    text-decoration: none;
}

.opcion-btn:focus{
  background-color: rgb(211, 141, 252);
}
.btn-volver, .btn-vaciar{
  margin-top: 1rem;
  background-color: #602ab6;
  color: white;
  padding: 0.5rem;
  font-family: "Metamorphous", serif;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.btn-volver:hover, .btn-vaciar:hover {
    background-color: rgb(211, 141, 252);
}

:disabled{
  background-color: rgb(81, 63, 92);
  cursor: not-allowed;
}
.verde{
  background-color: rgb(2, 199, 101);
}
.roja{
  background-color: rgb(190, 1, 1);
}

#contador-aciertos, #contador-erroneas, #ultimo-puntaje {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #222;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

#mostrar-ranking{
  left: 10px;
  position: fixed;
  top: 10px;
  background: #602ab6;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}
#mostrar-ranking a{
  text-decoration: none;
  color: #fff;
}

#contador-erroneas{
  top: 60px;
}

#ultimo-puntaje{
  top: 110px;
}

.solucion{
  margin-top: 0.5rem;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

#mensaje{
  padding: 1rem;
  margin: 3rem;
  justify-items: center;
  font-size: 2rem;
  color: rgb(211, 141, 252);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

/* Soluciona color Icon */
.swal2-icon.swal2-success {

.swal2-success-circular-line-left,
.swal2-success-fix,
.swal2-success-circular-line-right {
	background-color: transparent !important;
}

.swal2-success-line-tip,
.swal2-success-line-long {
	background-color: white !important;
}
}

.wow-popup {
  background: #000;
  border: 2px solid #602ab6;
  border-radius: 2rem;
  box-shadow: 0 0 25px #000;
  color: rgb(211, 141, 252);
  background-image:  linear-gradient(rgba(54, 0, 92, 0.384), rgba(75, 0, 130, 0.6)), url(../img/sylvanas.jpg);
}

.wow-button {
  background: #602ab6;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: 2px solid #602ab6;
  transition: 0.2s;
}

.subir{
  cursor: pointer;
}

/* Ranking */
.ranking-page{
  font-family: "Metamorphous", serif;
}
#ranking-container {
  margin: 2rem auto;
  max-width: 580px;
  text-align: center;
}

#ranking-container h2 {
  margin-bottom: 1rem;
}

.tabla-ranking {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  table-layout: fixed;
}

.tabla-ranking th,
.tabla-ranking td {
  border: 1px solid #444;
  padding: 6px 8px;
    word-break: break-word;  /* Corta palabras largas */
    white-space: normal;
}


.tabla-ranking th {
  background-color: #602ab6;
  color: #fff;
}

.item-ranking:nth-child(even) {
  background-color: #222;
}

.item-ranking:nth-child(odd) {
  background-color: #111;
}

.item-ranking:nth-child(1) .medalla::before {
  content: "🥇";
}

.item-ranking:nth-child(2) .medalla::before {
  content: "🥈";
}

.item-ranking:nth-child(3) .medalla::before {
  content: "🥉";
}
.medalla {
  display: inline-flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  font-size: 20px;
}

.btn-editar,
.btn-borrar {
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: none;
}


/* Media */
@media (min-width: 1280px) {
  #preguntas-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px){
    .opcion-btn{
    font-size: 17px;
    margin: 0.6rem;
  }
  .card{
    padding: 3rem;
  }
}
@media (min-width: 480px){
  .imagen-banner{
    height: 15rem;
  }
  .card{
        margin: 2rem;
  }
  .tabla-ranking th,
  .tabla-ranking td {
  border: 1px solid #444;
  padding: 8px 12px;
}
#ranking-container {
  max-width: 800px;
}
}




